@using CodeBlog.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<BlogTable>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!---//End-slider---->
<div class="text-monials">
    <div class="wrap">
        <ul>
            <li><i class="fa fa-quote-left"></i></li>
            <li><p>Cho người ta một phần mềm họ sẽ bực mình một ngày. Dạy người ta lập trình họ sẽ bực mình cả đời!</p> </li>
            <li><i class="fa fa-quote-right"></i></li>
            <div class="clear"> </div>
        </ul>
    </div>
</div>
<!---//End-test-monial---->
<!---start-articls---->
@Html.Action("CodeXemNhieu", "HoTro")