USE [master]
GO
/****** Object:  Database [CodeBlog]    Script Date: 6/8/2020 9:36:29 PM ******/
CREATE DATABASE [CodeBlog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CodeBlog', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CodeBlog.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CodeBlog_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CodeBlog_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CodeBlog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CodeBlog]
GO
/****** Object:  Table [dbo].[AdminTable]    Script Date: 6/8/2020 9:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AdminTable](
	[MaAdmin] [int] IDENTITY(1,1) NOT NULL,
	[TenHienThi] [nvarchar](50) NULL,
	[TaiKhoan] [varchar](30) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[AnhDaiDien] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
	[Token] [nvarchar](max) NULL,
 CONSTRAINT [PK_AdminTable] PRIMARY KEY CLUSTERED 
(
	[MaAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BlogTable]    Script Date: 6/8/2020 9:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogTable](
	[MaBlog] [int] IDENTITY(1,1) NOT NULL,
	[TenBlog] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayDang] [datetime] NULL,
	[MaNguoiDung] [int] NULL,
	[AnhMinhHoa] [nvarchar](max) NULL,
 CONSTRAINT [PK_BlogTable] PRIMARY KEY CLUSTERED 
(
	[MaBlog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChuDeTable]    Script Date: 6/8/2020 9:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuDeTable](
	[MaChuDe] [int] IDENTITY(1,1) NOT NULL,
	[ChuDe] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChuDeTable] PRIMARY KEY CLUSTERED 
(
	[MaChuDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CodeTable]    Script Date: 6/8/2020 9:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodeTable](
	[MaCode] [int] IDENTITY(1,1) NOT NULL,
	[TenCode] [nvarchar](70) NULL,
	[MoTa] [nvarchar](max) NULL,
	[AnhMinhHoa] [nvarchar](max) NULL,
	[NgayDang] [datetime] NULL,
	[LuotXem] [int] NULL,
	[LuotYeuThich] [int] NULL,
	[DanhGia] [float] NULL,
	[LuotDanhGia] [int] NULL,
	[MaNguoiDung] [int] NULL,
	[MaAdmin] [int] NULL,
	[MaTheLoai] [int] NULL,
	[LuotTai] [int] NULL,
	[LinkTai] [nvarchar](max) NULL,
 CONSTRAINT [PK_CodeTable] PRIMARY KEY CLUSTERED 
(
	[MaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhMuc_TheLoaiTable]    Script Date: 6/8/2020 9:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc_TheLoaiTable](
	[MaDanhMuc_TheLoai] [int] IDENTITY(1,1) NOT NULL,
	[MaDanhMuc] [int] NULL,
	[MaTheLoai] [int] NULL,
 CONSTRAINT [PK_DanhMuc_TheLoaiTable] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc_TheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhMucTable]    Script Date: 6/8/2020 9:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucTable](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](50) NULL,
	[AnhDanhMuc] [nvarchar](max) NULL,
 CONSTRAINT [PK_DanhMucTable] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NgonNgu_BlogTable]    Script Date: 6/8/2020 9:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NgonNgu_BlogTable](
	[MaNgonNgu_Blog] [int] IDENTITY(1,1) NOT NULL,
	[MaNgonNgu] [int] NULL,
	[MaBlog] [int] NULL,
 CONSTRAINT [PK_NgonNgu_BlogTable] PRIMARY KEY CLUSTERED 
(
	[MaNgonNgu_Blog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NgonNgu_CodeTable]    Script Date: 6/8/2020 9:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NgonNgu_CodeTable](
	[MaNgonNgu_Code] [int] IDENTITY(1,1) NOT NULL,
	[MaNgonNgu] [int] NULL,
	[MaCode] [int] NULL,
 CONSTRAINT [PK_NgonNgu_CodeTable] PRIMARY KEY CLUSTERED 
(
	[MaNgonNgu_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NgonNguTable]    Script Date: 6/8/2020 9:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NgonNguTable](
	[MaNgonNgu] [int] IDENTITY(1,1) NOT NULL,
	[NgonNgu] [nvarchar](50) NULL,
 CONSTRAINT [PK_NgonNguTable] PRIMARY KEY CLUSTERED 
(
	[MaNgonNgu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiDungTable]    Script Date: 6/8/2020 9:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NguoiDungTable](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenHienThi] [nvarchar](50) NULL,
	[TaiKhoan] [varchar](30) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[AnhDaiDien] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
	[Token] [nvarchar](max) NULL,
	[Email] [varchar](100) NULL,
 CONSTRAINT [PK_NguoiDungTable] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TheLoaiTable]    Script Date: 6/8/2020 9:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoaiTable](
	[MaTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[TheLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_TheLoaiTable] PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TinTucTable]    Script Date: 6/8/2020 9:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTucTable](
	[MaTinTuc] [int] IDENTITY(1,1) NOT NULL,
	[TenTinTuc] [nvarchar](100) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayDang] [datetime] NULL,
	[MaAdmin] [int] NULL,
	[MaChuDe] [int] NULL,
	[AnhMinhHoa] [nvarchar](max) NULL,
 CONSTRAINT [PK_TinTucTable] PRIMARY KEY CLUSTERED 
(
	[MaTinTuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AdminTable] ON 

INSERT [dbo].[AdminTable] ([MaAdmin], [TenHienThi], [TaiKhoan], [MatKhau], [AnhDaiDien], [NgayTao], [Token]) VALUES (1, N'Thanh', N'admin01', N'thanh', NULL, CAST(0x0000ABD100000000 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[AdminTable] OFF
SET IDENTITY_INSERT [dbo].[ChuDeTable] ON 

INSERT [dbo].[ChuDeTable] ([MaChuDe], [ChuDe]) VALUES (1, N'Android')
INSERT [dbo].[ChuDeTable] ([MaChuDe], [ChuDe]) VALUES (2, N'Window')
INSERT [dbo].[ChuDeTable] ([MaChuDe], [ChuDe]) VALUES (3, N'ASP')
SET IDENTITY_INSERT [dbo].[ChuDeTable] OFF
SET IDENTITY_INSERT [dbo].[CodeTable] ON 

INSERT [dbo].[CodeTable] ([MaCode], [TenCode], [MoTa], [AnhMinhHoa], [NgayDang], [LuotXem], [LuotYeuThich], [DanhGia], [LuotDanhGia], [MaNguoiDung], [MaAdmin], [MaTheLoai], [LuotTai], [LinkTai]) VALUES (2, N'Mã nguồn trò chơi Stickman Strike - Shadow Warriors', N'Stickman Fighter - Shadow Warriors là một trong những game di động hành động theo phong cách stickman.', N'demo_code.jpg', CAST(0x0000ABD100000000 AS DateTime), 52, 6, 2.3, 9, NULL, NULL, 1, 13, NULL)
INSERT [dbo].[CodeTable] ([MaCode], [TenCode], [MoTa], [AnhMinhHoa], [NgayDang], [LuotXem], [LuotYeuThich], [DanhGia], [LuotDanhGia], [MaNguoiDung], [MaAdmin], [MaTheLoai], [LuotTai], [LinkTai]) VALUES (3, N'Mã nguồn trò chơi Stickman Strike - Shadow Warriors', N'Stickman Fighter - Shadow Warriors là một trong những game di động hành động theo phong cách stickman.', N'demo_code.jpg', CAST(0x0000ABD100000000 AS DateTime), 6, 61, 4.9, 5, NULL, NULL, 2, 16, NULL)
INSERT [dbo].[CodeTable] ([MaCode], [TenCode], [MoTa], [AnhMinhHoa], [NgayDang], [LuotXem], [LuotYeuThich], [DanhGia], [LuotDanhGia], [MaNguoiDung], [MaAdmin], [MaTheLoai], [LuotTai], [LinkTai]) VALUES (4, N'Mã nguồn trò chơi Stickman Strike - Shadow Warriors', N'Stickman Fighter - Shadow Warriors là một trong những game di động hành động theo phong cách stickman.', N'demo_code.jpg', CAST(0x0000ABD100000000 AS DateTime), 91, 61, 5, 92, NULL, NULL, 3, 13, NULL)
SET IDENTITY_INSERT [dbo].[CodeTable] OFF
SET IDENTITY_INSERT [dbo].[DanhMuc_TheLoaiTable] ON 

INSERT [dbo].[DanhMuc_TheLoaiTable] ([MaDanhMuc_TheLoai], [MaDanhMuc], [MaTheLoai]) VALUES (1, 1, 1)
INSERT [dbo].[DanhMuc_TheLoaiTable] ([MaDanhMuc_TheLoai], [MaDanhMuc], [MaTheLoai]) VALUES (2, 1, 2)
INSERT [dbo].[DanhMuc_TheLoaiTable] ([MaDanhMuc_TheLoai], [MaDanhMuc], [MaTheLoai]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[DanhMuc_TheLoaiTable] OFF
SET IDENTITY_INSERT [dbo].[DanhMucTable] ON 

INSERT [dbo].[DanhMucTable] ([MaDanhMuc], [TenDanhMuc], [AnhDanhMuc]) VALUES (1, N'Web', N'web_background.jpg')
INSERT [dbo].[DanhMucTable] ([MaDanhMuc], [TenDanhMuc], [AnhDanhMuc]) VALUES (2, N'Desktop', N'desktop_background.jpg')
INSERT [dbo].[DanhMucTable] ([MaDanhMuc], [TenDanhMuc], [AnhDanhMuc]) VALUES (3, N'Layout', N'layout_background.jpg')
SET IDENTITY_INSERT [dbo].[DanhMucTable] OFF
SET IDENTITY_INSERT [dbo].[NgonNguTable] ON 

INSERT [dbo].[NgonNguTable] ([MaNgonNgu], [NgonNgu]) VALUES (1, N'Html')
INSERT [dbo].[NgonNguTable] ([MaNgonNgu], [NgonNgu]) VALUES (2, N'CSS')
INSERT [dbo].[NgonNguTable] ([MaNgonNgu], [NgonNgu]) VALUES (3, N'JavaScript')
SET IDENTITY_INSERT [dbo].[NgonNguTable] OFF
SET IDENTITY_INSERT [dbo].[NguoiDungTable] ON 

INSERT [dbo].[NguoiDungTable] ([MaNguoiDung], [TenHienThi], [TaiKhoan], [MatKhau], [AnhDaiDien], [NgayTao], [Token], [Email]) VALUES (1, N'User', N'thanh', N'1', N'default_user.jpg', CAST(0x0000ABD1011D21E9 AS DateTime), N'82e6c489-2d28-410f-84db-96849f82b3c9', NULL)
INSERT [dbo].[NguoiDungTable] ([MaNguoiDung], [TenHienThi], [TaiKhoan], [MatKhau], [AnhDaiDien], [NgayTao], [Token], [Email]) VALUES (2, N'User', N'thanh1', N'1', N'default_user.jpg', CAST(0x0000ABD1011D21E9 AS DateTime), N'caa84386-5ebf-425b-a57c-556e8b8a999a', NULL)
SET IDENTITY_INSERT [dbo].[NguoiDungTable] OFF
SET IDENTITY_INSERT [dbo].[TheLoaiTable] ON 

INSERT [dbo].[TheLoaiTable] ([MaTheLoai], [TheLoai]) VALUES (1, N'MVC')
INSERT [dbo].[TheLoaiTable] ([MaTheLoai], [TheLoai]) VALUES (2, N'WordPress')
INSERT [dbo].[TheLoaiTable] ([MaTheLoai], [TheLoai]) VALUES (3, N'Winform')
SET IDENTITY_INSERT [dbo].[TheLoaiTable] OFF
SET IDENTITY_INSERT [dbo].[TinTucTable] ON 

INSERT [dbo].[TinTucTable] ([MaTinTuc], [TenTinTuc], [NoiDung], [NgayDang], [MaAdmin], [MaChuDe], [AnhMinhHoa]) VALUES (1, N'Dấu trường chân lý', N'Dấu trường chân lý', CAST(0x0000ABD100000000 AS DateTime), 1, 1, N'game_technology_news.jpg')
INSERT [dbo].[TinTucTable] ([MaTinTuc], [TenTinTuc], [NoiDung], [NgayDang], [MaAdmin], [MaChuDe], [AnhMinhHoa]) VALUES (2, N'Dấu trường chân lý', N'Dấu trường chân lý', CAST(0x0000ABD100000000 AS DateTime), 1, 2, N'game_technology_news.jpg')
INSERT [dbo].[TinTucTable] ([MaTinTuc], [TenTinTuc], [NoiDung], [NgayDang], [MaAdmin], [MaChuDe], [AnhMinhHoa]) VALUES (3, N'Dấu trường chân lý', N'Dấu trường chân lý', CAST(0x0000ABD100000000 AS DateTime), 1, 3, N'game_technology_news.jpg')
SET IDENTITY_INSERT [dbo].[TinTucTable] OFF
ALTER TABLE [dbo].[BlogTable]  WITH CHECK ADD  CONSTRAINT [FK_BlogTable_NguoiDungTable] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDungTable] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[BlogTable] CHECK CONSTRAINT [FK_BlogTable_NguoiDungTable]
GO
ALTER TABLE [dbo].[CodeTable]  WITH CHECK ADD  CONSTRAINT [FK_CodeTable_AdminTable] FOREIGN KEY([MaAdmin])
REFERENCES [dbo].[AdminTable] ([MaAdmin])
GO
ALTER TABLE [dbo].[CodeTable] CHECK CONSTRAINT [FK_CodeTable_AdminTable]
GO
ALTER TABLE [dbo].[CodeTable]  WITH CHECK ADD  CONSTRAINT [FK_CodeTable_NguoiDungTable] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDungTable] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[CodeTable] CHECK CONSTRAINT [FK_CodeTable_NguoiDungTable]
GO
ALTER TABLE [dbo].[CodeTable]  WITH CHECK ADD  CONSTRAINT [FK_CodeTable_TheLoaiTable] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoaiTable] ([MaTheLoai])
GO
ALTER TABLE [dbo].[CodeTable] CHECK CONSTRAINT [FK_CodeTable_TheLoaiTable]
GO
ALTER TABLE [dbo].[DanhMuc_TheLoaiTable]  WITH CHECK ADD  CONSTRAINT [FK_DanhMuc_TheLoaiTable_DanhMucTable] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMucTable] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[DanhMuc_TheLoaiTable] CHECK CONSTRAINT [FK_DanhMuc_TheLoaiTable_DanhMucTable]
GO
ALTER TABLE [dbo].[DanhMuc_TheLoaiTable]  WITH CHECK ADD  CONSTRAINT [FK_DanhMuc_TheLoaiTable_TheLoaiTable] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoaiTable] ([MaTheLoai])
GO
ALTER TABLE [dbo].[DanhMuc_TheLoaiTable] CHECK CONSTRAINT [FK_DanhMuc_TheLoaiTable_TheLoaiTable]
GO
ALTER TABLE [dbo].[NgonNgu_BlogTable]  WITH CHECK ADD  CONSTRAINT [FK_NgonNgu_BlogTable_BlogTable] FOREIGN KEY([MaBlog])
REFERENCES [dbo].[BlogTable] ([MaBlog])
GO
ALTER TABLE [dbo].[NgonNgu_BlogTable] CHECK CONSTRAINT [FK_NgonNgu_BlogTable_BlogTable]
GO
ALTER TABLE [dbo].[NgonNgu_BlogTable]  WITH CHECK ADD  CONSTRAINT [FK_NgonNgu_BlogTable_NgonNguTable] FOREIGN KEY([MaNgonNgu])
REFERENCES [dbo].[NgonNguTable] ([MaNgonNgu])
GO
ALTER TABLE [dbo].[NgonNgu_BlogTable] CHECK CONSTRAINT [FK_NgonNgu_BlogTable_NgonNguTable]
GO
ALTER TABLE [dbo].[NgonNgu_CodeTable]  WITH CHECK ADD  CONSTRAINT [FK_NgonNgu_CodeTable_CodeTable] FOREIGN KEY([MaCode])
REFERENCES [dbo].[CodeTable] ([MaCode])
GO
ALTER TABLE [dbo].[NgonNgu_CodeTable] CHECK CONSTRAINT [FK_NgonNgu_CodeTable_CodeTable]
GO
ALTER TABLE [dbo].[NgonNgu_CodeTable]  WITH CHECK ADD  CONSTRAINT [FK_NgonNgu_CodeTable_NgonNguTable] FOREIGN KEY([MaNgonNgu])
REFERENCES [dbo].[NgonNguTable] ([MaNgonNgu])
GO
ALTER TABLE [dbo].[NgonNgu_CodeTable] CHECK CONSTRAINT [FK_NgonNgu_CodeTable_NgonNguTable]
GO
ALTER TABLE [dbo].[TinTucTable]  WITH CHECK ADD  CONSTRAINT [FK_TinTucTable_AdminTable] FOREIGN KEY([MaAdmin])
REFERENCES [dbo].[AdminTable] ([MaAdmin])
GO
ALTER TABLE [dbo].[TinTucTable] CHECK CONSTRAINT [FK_TinTucTable_AdminTable]
GO
ALTER TABLE [dbo].[TinTucTable]  WITH CHECK ADD  CONSTRAINT [FK_TinTucTable_ChuDeTable] FOREIGN KEY([MaChuDe])
REFERENCES [dbo].[ChuDeTable] ([MaChuDe])
GO
ALTER TABLE [dbo].[TinTucTable] CHECK CONSTRAINT [FK_TinTucTable_ChuDeTable]
GO
USE [master]
GO
