

<form action="@Url.Action("Admin_DangNhap", "Admin_Home")" method="post">
    <input type="text" name="txtTaiKhoan" class="form-control" autocomplete="off" required />
    <input type="password" name="txtMatKhau" class="form-control" autocomplete="off" required />
    <input type="submit" value="Dang Nhap"/>
</form>
