
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="slider">
        <div class="wrap">
            <div class="slider-left">
                <em> </em>
                <h1>CodeBlog chia sẻ code chuyên nghiệp</h1>
                <p>Chúng tôi cung cấp những bài code, bài viết được chia sẻ chất lượng nhât cho bạn <span>FREE!</span></p>
                <label>Gia nhập với chúng tôi để nhận nhiều ưu đãi!</label>
                <form>
                    <a href="#"><input type="submit" value="Đăng nhập" style="width: 30%"/></a>
                    <a href="#"><input type="submit" value="Đăng ký" style="width: 30%"/></a>
                </form>
            </div>
            <div class="slider-right">
                <img src="~/Content/images/default_background/background_code_blog.png" alt=""/>
            </div>
            <div class="clear"> </div>
        </div>
    </div>

