USE [master]
GO
/****** Object:  Database [DBCodeBlog]    Script Date: 9/16/2020 12:49:58 AM ******/
CREATE DATABASE [DBCodeBlog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBCodeBlog', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DBCodeBlog.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBCodeBlog_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DBCodeBlog_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBCodeBlog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBCodeBlog]
GO
/****** Object:  Table [dbo].[BlogTable]    Script Date: 9/16/2020 12:49:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogTable](
	[MaBlog] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](100) NULL,
	[AnhDaiDien] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
	[LuotXem] [int] NULL,
	[LuotYeuThich] [int] NULL,
	[MaND] [int] NULL,
 CONSTRAINT [PK_BlogTable] PRIMARY KEY CLUSTERED 
(
	[MaBlog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CodeTable]    Script Date: 9/16/2020 12:49:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodeTable](
	[MaCode] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](100) NULL,
	[MoTa] [nvarchar](255) NULL,
	[AnhDaiDien] [nvarchar](max) NULL,
	[LinkTai] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
	[LuotXem] [int] NULL,
	[LuotTai] [int] NULL,
	[GiaBan] [money] NULL,
	[KiemDuyet] [bit] NULL,
	[MaTheLoaiCode] [int] NULL,
	[MaND] [int] NULL,
 CONSTRAINT [PK_CodeTable] PRIMARY KEY CLUSTERED 
(
	[MaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiDungTable]    Script Date: 9/16/2020 12:49:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NguoiDungTable](
	[MaND] [int] IDENTITY(1,1) NOT NULL,
	[TenHienThi] [nvarchar](70) NULL,
	[TaiKhoan] [varchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[NgayDangNhap] [datetime] NULL,
	[PhanQuyen] [int] NULL,
	[Email] [varchar](150) NULL,
	[Token] [nvarchar](max) NULL,
	[Avata] [nchar](10) NULL,
	[SDT] [varchar](11) NULL,
 CONSTRAINT [PK_NguoiDungTable] PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SanPhamTable]    Script Date: 9/16/2020 12:49:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamTable](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[AnhDaiDien] [nvarchar](max) NULL,
	[MoTa] [nvarchar](255) NULL,
	[GiaBan] [money] NULL,
	[NgayTao] [datetime] NULL,
	[LuotXem] [int] NULL,
	[LuotMua] [int] NULL,
	[MaTheLoaiSP] [int] NULL,
 CONSTRAINT [PK_SanPhamTable] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TheLoaiCodeTable]    Script Date: 9/16/2020 12:49:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoaiCodeTable](
	[MaTheLoaiCode] [int] IDENTITY(1,1) NOT NULL,
	[TheLoai] [nvarchar](100) NULL,
 CONSTRAINT [PK_TheLoaiCodeTable] PRIMARY KEY CLUSTERED 
(
	[MaTheLoaiCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TheLoaiSPTable]    Script Date: 9/16/2020 12:49:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoaiSPTable](
	[MaTheLoaiSP] [int] IDENTITY(1,1) NOT NULL,
	[TheLoai] [nvarchar](100) NULL,
 CONSTRAINT [PK_TheLoaiSPTable] PRIMARY KEY CLUSTERED 
(
	[MaTheLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BlogTable]  WITH CHECK ADD  CONSTRAINT [FK_BlogTable_NguoiDungTable] FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDungTable] ([MaND])
GO
ALTER TABLE [dbo].[BlogTable] CHECK CONSTRAINT [FK_BlogTable_NguoiDungTable]
GO
ALTER TABLE [dbo].[CodeTable]  WITH CHECK ADD  CONSTRAINT [FK_CodeTable_NguoiDungTable] FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDungTable] ([MaND])
GO
ALTER TABLE [dbo].[CodeTable] CHECK CONSTRAINT [FK_CodeTable_NguoiDungTable]
GO
ALTER TABLE [dbo].[CodeTable]  WITH CHECK ADD  CONSTRAINT [FK_CodeTable_TheLoaiCodeTable] FOREIGN KEY([MaTheLoaiCode])
REFERENCES [dbo].[TheLoaiCodeTable] ([MaTheLoaiCode])
GO
ALTER TABLE [dbo].[CodeTable] CHECK CONSTRAINT [FK_CodeTable_TheLoaiCodeTable]
GO
ALTER TABLE [dbo].[SanPhamTable]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamTable_TheLoaiSPTable] FOREIGN KEY([MaTheLoaiSP])
REFERENCES [dbo].[TheLoaiSPTable] ([MaTheLoaiSP])
GO
ALTER TABLE [dbo].[SanPhamTable] CHECK CONSTRAINT [FK_SanPhamTable_TheLoaiSPTable]
GO
USE [master]
GO
