@using CodeBlog.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<CodeTable>
@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<div class="inner_content">
    <!-- /inner_content_w3_agile_info-->
    <div class="inner_content_w3_agile_info">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ma Code</th>
                    <th>Ten Code</th>
                    <th>Nguoi Dang</th>
                    <th>Tinh Trang</th>
                    <th>Cong cu</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MaCode</td>
                        <td>@item.TenCode</td>
                        <td>@item.NguoiDungTable.TenHienThi</td>
                        <td>Dang doi duyet</td>
                        <td>
                            @if (ViewBag.Title == "Danh sách chờ duyệt bài")
                            {
                                <a href="@Url.Action("DuyetBai" ,"Admin_CodeTables", new { maCode = item.MaCode})"><i class="fa fa-check">Duyet</i></a>
                            }
                            else
                            {
                                <a href="#"><i class="fa fa-check">Chinh su</i></a>
                            }
                            <a href="#"><i class="fa fa-close">Xoa</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>