@using CodeBlog.Models;
@model List<CodeTable>


<div class="container">
    <div class="content-top-header">
        <h3>Code quan tâm nhiều</h3>
        <p>Code có nhiều lượt xem!</p>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="row list_code">
                @foreach (var item in Model)
                {
                    <div class="col-sm-3">
                        <div class="card" style="width: 13rem;">
                            <img src="~/Content/images/image_code/@item.AnhMinhHoa" class="card-img-top" alt="@item.TenCode">
                            <div class="card-body">
                                <a href="#"><h4 class="card-title">@item.TenCode</h4></a><br />
                                <div class="chi_tiet_list_code_footer">
                                    <span style="float: left">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </span>
                                    <span style="float: right">
                                        <i class="fa fa-download">&nbsp;@item.LuotTai</i>
                                        <i class="fa fa-heart">&nbsp;@item.LuotYeuThich</i>
                                        <i>&nbsp;&nbsp;</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div>
                <center>
                    <a href="@Url.Action("TatCaCode", "TimKiem")" class="btn btn-success" style="width: 20%">Xem thêm</a>
                </center>
            </div>
        </div>
        <div class="col-lg-3">
            @Html.Action("CodeDanhGiaCao", "HoTro")
        </div>
    </div>
</div>