@using CodeBlog.Models;
@model List<TheLoaiTable>
@{
    var arrow = "arrow_right_theloai";
}
@foreach (var item in Model)
{
    <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-code" style="color: green">&nbsp;</i>@item.TheLoai</a>
}

<script>
    function show_arrow_right_theloai(id) {
        document.getElementById("arrow_right_theloai" + id).style.fontSize = "15px";
    }
    function hide_arow_right_theloai(id) {
        document.getElementById("arrow_right_theloai" + id).style.fontSize = "0px";
    }
</script>